---
# yaml-language-server: $schema=../../common/values.schema.json
controllers:
  main:
    containers:
      main:
        image:
          repository: ghcr.io/mendhak/http-https-echo
          tag: 31
          pullPolicy: IfNotPresent

        probes:
          liveness:
            enabled: true
          readiness:
            enabled: true
          startup:
            enabled: true

ingress:
  main:
    hosts:
      - host: "test.local"
        paths:
          - path: /
            service:
              identifier: main
              port: http
    tls:
      - hosts:
          - "test.local"

service:
  main:
    controller: main
    ports:
      http:
        port: 8080

persistence:
  media:
    type: persistentVolumeClaim
    accessMode: ReadWriteOnce
    size: 1Gi
