apiVersion: v2
name: common
description: Function library for k8s-at-home charts
type: library
version: 4.4.3
kubeVersion: ">=1.16.0-0"
keywords:
  - k8s-at-home
  - common
home: https://github.com/k8s-at-home/library-charts/tree/main/stable/common
maintainers:
  - name: bjw-s
    email: me@bjw-s.dev
  - name: onedr0p
    email: devin.kray@gmail.com
  - name: dirtycajunrice
    email: nick@cajun.pro
