---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/app-template-3.0.2/charts/other/app-template/schemas/helmrelease-helm-v2beta2.schema.json
controllers:
  main:
    strategy: RollingUpdate
    containers:
      main:
        image:
          repository: ghcr.io/bjw-s/k8s-ycl
          tag: "{{ .Chart.AppVersion }}"
          pullPolicy: Always
        probes:
          liveness:
            enabled: true
            custom: true
            spec:
              httpGet:
                path: /healthz
                port: 8081
              initialDelaySeconds: 0
              periodSeconds: 10
              timeoutSeconds: 1
              failureThreshold: 3
          readiness:
            enabled: true
            custom: true
            spec:
              httpGet:
                path: /readyz
                port: 8081
              initialDelaySeconds: 0
              periodSeconds: 10
              timeoutSeconds: 1
              failureThreshold: 3
          startup:
            enabled: true
            custom: true
            spec:
              httpGet:
                path: /healthz
                port: 8081
              initialDelaySeconds: 0
              failureThreshold: 30
              periodSeconds: 5
              timeoutSeconds: 1

persistence:
  certs:
    type: secret
    name: >-
      {{ include "k8s-ycl.servingCertificate" . }}
    globalMounts:
      - path: /tls

service:
  main:
    controller: main
    nameOverride: webhook
    ports:
      http:
        port: 9443
      metrics:
        port: 8080
      probe:
        port: 8081

serviceAccount:
  create: true

webhook:
  path: /mutate--v1-pod

  ignoreOwnNamespace: true
  ignoredNamespaces:
    - kube-system
